<section class="blog-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="section-title text-center">
            <span>News</span>
            <p>News Feed</p>
            <h1>Blog Insights</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-blog-card">
            <div
              class="featured-img bg-cover"
              style="background-image: url('/assets/img/blog/b1.jpg')"
            >
            </div>
            <div class="post-content">
              <div class="post-date">
                <span>20</span>
                jun
              </div>
              <div class="post-meta">
                <a href="news-details.html" class="post-cat">Industrial</a> /
                <a href="news-details.html" class="post-author">Miranda H.</a>
              </div>
              <h3>
                <a href="news-details.html"
                  >The dramatically visualize on customer directed</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-blog-card">
            <div
              class="featured-img bg-cover"
              style="background-image: url('/assets/img/blog/b2.jpg')"
            >
            </div>
            <div class="post-content">
              <div class="post-date">
                <span>30</span>
                feb
              </div>
              <div class="post-meta">
                <a href="news-details.html" class="post-cat">Industrial</a> /
                <a href="news-details.html" class="post-author">Miranda H.</a>
              </div>
              <h3>
                <a href="news-details.html"
                  >Recent Commercial Real Estate Transactions</a
                >
              </h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-blog-card">
            <div
              class="featured-img bg-cover"
              style="background-image: url('/assets/img/blog/b3.jpg')"
            >
            </div>
            <div class="post-content">
              <div class="post-date">
                <span>29</span>
                may
              </div>
              <div class="post-meta">
                <a href="news-details.html" class="post-cat">Industrial</a> /
                <a href="news-details.html" class="post-author">Miranda H.</a>
              </div>
              <h3>
                <a href="news-details.html"
                  >10 Brilliant Ways To Decorate Your Office or Home</a
                >
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>