 <section class="page-banner-wrap bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="breadcrumb-wrap">
                        <nav>
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/">Home</a></li>
                              <li class="breadcrumb-item"><a href="services.html">services</a></li>
                              <li class="breadcrumb-item active">Services Details</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="page-heading text-white">
                        <h1>Service Details</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service-details-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 mt-5 mt-md-0 col-12 order-2 order-md-1">
                    <div class="service-details-sidebar">
                        <div class="single-service-sidebar">
                            <div class="sidebar-title">
                                <h3>Service Category</h3>
                            </div>
                            <ul>
                                <li><a href="services-details.html">General Contracting</a></li>
                                <li><a href="services-details.html">Apartment Design</a></li>
                                <li><a href="services-details.html">Building Renovation</a></li>
                                <li><a href="services-details.html">Architecture Design</a></li>
                                <li><a href="services-details.html">Building Construction</a></li>
                                <li><a href="services-details.html">Oil & Gas Engineering</a></li>
                            </ul>
                        </div>
                        <div class="single-service-sidebar">
                            <div class="sidebar-title">
                                <h3>Download Brochures</h3>
                            </div>
                            <div class="brochures-download">
                                <a href="#" class="theme-btn"><i class="fal fa-file-pdf"></i>Download .PDF</a>
                                <a href="#" class="theme-btn"><i class="fal fa-file-word"></i>Download .DOC</a>
                                <a href="#" class="theme-btn"><i class="fal fa-file-powerpoint"></i>Download .PPT</a>
                            </div>
                        </div>
                        <div class="single-service-sidebar site_info_widget">
                            <div class="sidebar-title">
                                <h3>Contact Us</h3>
                            </div>
                            <div class="contact-us">
                                <div class="single-contact-info">
                                    <div class="icon">
                                        <i class="fal fa-phone"></i>
                                    </div>
                                    <div class="contact-info">
                                        <span>Phone Number</span>
                                        <p>+908 9098 987 98</p>
                                    </div>
                                </div>
                                <div class="single-contact-info">
                                    <div class="icon">
                                        <i class="fal fa-envelope"></i>
                                    </div>
                                    <div class="contact-info">
                                        <span>Email Address</span>
                                        <p>info@supportexam.com</p>
                                    </div>
                                </div>
                                <div class="single-contact-info">
                                    <div class="icon">
                                        <i class="fal fa-map-marker-alt"></i>
                                    </div>
                                    <div class="contact-info">
                                        <span>Office Address</span>
                                        <p>14/A, Ping Tower, NYC</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12 order-1 order-md-2">
                    <div class="service-details-content-wrapper pl-0 pl-md-4">
                        <div class="service-gallery owl-carousel owl-theme">
                            <div class="single-service-photo bg-cover" style="background-image: url('/assets/img/gallery/1.jpg')"></div>
                            <div class="single-service-photo bg-cover" style="background-image: url('/assets/img/gallery/2.jpg')"></div>
                            <div class="single-service-photo bg-cover" style="background-image: url('/assets/img/gallery/3.jpg')"></div>
                            <div class="single-service-photo bg-cover" style="background-image: url('/assets/img/gallery/4.jpg')"></div>
                        </div>

                        <h2>Start building construction planning</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typese ting, remaining essentially unchanged. It was popularised in the 196 with the release Letraset sheets containine and more recently with desktop publishing software.</p>

                        <h2>Quality Construction</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, ipsa! Repellendus at accusantium dolore rerum exercitationem iusto error? Odio deleniti in iste tenetur placeat excepturi eum officia ratione, vel aperiam?</p>

                        <div class="row">
                            <div class="col-md-6 col-12">
                                <a href="assets/img/gallery/5.jpg" class="popup-gallery"><img src="assets/img/gallery/5.jpg" alt=""></a>
                            </div>
                            <div class="col-md-6 col-12">
                                <a href="assets/img/gallery/6.jpg" class="popup-gallery"><img src="assets/img/gallery/6.jpg" alt=""></a>
                            </div>
                        </div>

                        <h2>What You Receive?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi architecto, ipsam deleniti recusandae error voluptatum animi, quo aliquam doloribus reprehenderit natus, illo neque earum. Ratione totam necessitatibus possimus tempore tempora?</p>

                        <blockquote>
                            Viral dreamcatcher keytar typewriter, aest hetic offal umami. Aesthetic polaroid pug pitchfork post-ironic.
                        </blockquote>
                    </div>

                    <div class="faq-content pl-0 pl-md-4">
                        <h2>What Is Include?</h2>
                        <div class="faq-accordion">
                            <div id="accordion" class="accordion">
                                <div class="card">
                                    <div class="card-header" id="faq1">
                                        <p class="mb-0 text-capitalize">
                                            <a class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" href="#faq-1">
                                                100% Satisfaction Guarantee.
                                            </a>
                                        </p>
                                    </div>
                                    <div id="faq-1" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus dolor at libero ultricies ullamcorper vel ut dui. Maecenas sollicitudin risus non faucibus blandit. Nulla facilisi. 
                                        </div>
                                    </div>
                                </div> <!-- /card -->
                                <div class="card">
                                    <div class="card-header" id="faq2">
                                        <p class="mb-0 text-capitalize">
                                            <a class="collapsed" role="button" data-toggle="collapse" aria-expanded="true" href="#faq-2">
                                                Accurate Testing Processes.
                                            </a>
                                        </p>
                                    </div>
                                    <div id="faq-2" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus dolor at libero ultricies ullamcorper vel ut dui. Maecenas sollicitudin risus non faucibus blandit. Nulla facilisi.
                                        </div>
                                    </div>
                                </div> <!-- /card -->
                                <div class="card">
                                    <div class="card-header" id="faq3">
                                        <p class="mb-0 text-capitalize">
                                            <a class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" href="#faq-3">
                                                35+ Years Of Experience.
                                            </a>
                                        </p>
                                    </div>
                                    <div id="faq-3" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus dolor at libero ultricies ullamcorper vel ut dui. Maecenas sollicitudin risus non faucibus blandit. Nulla facilisi.
                                        </div>
                                    </div>
                                </div> <!-- /card -->
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
