---
const {ctaTitle} = Astro.props
---
<section class="cta-wrapper">
    <div class="container">
      <div
        class="cta-content bg-cover"
        style="background-image: url('/assets/img/subscribe_bg.jpg')"
      >
        <div class="row align-items-center">
          <div class="col-xl-7 pl-xl-3 col-12 text-center text-xl-left">
            <h2 class="cta-heading">LLÁMANOS YA - TOCA EL BOTÓN</h2>
          </div>
          <div
            class="col-xl-4 pl-xl-0 mt-4 mt-xl-0 col-12 text-center text-xl-left"
          >
            <div class="contact-info">
              <div class="icon">
                <a href="tel://+34647376782">
                <i class="fal fa-phone"></i>
                </a>
              </div>

              <div class="contact-number ml-2">
                647 37 67 82
                <span>LLAMA AHORA</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>