---
---

<footer class="footer-1 footer-wrap">
  <div class="footer-widgets dark-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xl-3 col-12">
          <div class="single-footer-wid">
            <div class="wid-title">
              <h4 style="text-align: center;">Sobre Nosotros</h4>
            </div>
            <p style="text-align: justify;">
              Desatascos Pociten es una empresa ubicada en Madrid con amplia
              experiencia en todo tipo de desatrancos y desatascos. Realizamos
              trabajos a domicilio de desatasco de tuberías y también
              alcantarillas. Si lo necesitas también podemos realizar la
              limpieza y vaciado de fosas sépticas.
            </p>
            <div class="social_link" style="text-align: center;">
              <a href="https://www.facebook.com/desatascospociten"><i class="fab fa-facebook-f"></i></a>
              <a href="https://instagram.com/pociten_desatascos?igshid=MzRlODBiNWFlZA=="><i class="fab fa-instagram"></i></a>
              <a href="https://www.youtube.com/@PocitenDesatascos#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <!-- /.col-lg-3 - single-footer-wid -->
        <div class="col-md-6 col-xl-3 col-12">
          <div class="single-footer-wid recent_post_widget">
            <div class="wid-title" style="text-align: center;">
              <h4>Ofrecemos servicios en:</h4>
            </div>
            <div class="recent-post-list" style="text-align: center;">
              <div class="single-recent-post">
                <div class="post-data">
                  <h5><a href="/desatascos/desatascos-madrid">Desatascos Madrid</a></h5>
                </div>
              </div>
              <div class="single-recent-post">
                <div class="post-data">
                  <h5><a href="/desatascos/desatascos-arganda">Desatascos Arganda</a></h5>
                </div>
              </div>
              <div class="single-recent-post">
                <div class="post-data">
                  <h5><a href="/desatascos/desatascos-parla">Desatascos Parla</a></h5>
                </div>
              </div>
              <div class="single-recent-post">
                <div class="post-data">
                  <h5><a href="/desatascos/desatascos-mostoles">Desatascos Móstoles</a></h5>
                </div>
              </div>
              <div class="single-recent-post">
                <div class="post-data">
                  <h5><a href="/desatascos/desatascos-alcorcon">Desatascos Alcorcón</a></h5>
                </div>
              </div>
              <div class="single-recent-post">
                <div class="post-data">
                  <h5><a href="/desatascos/desatascos-leganes">Desatascos Leganés</a></h5>
                </div>
              </div>
              <div class="single-recent-post">
                <div class="post-data">
                  <h5>
                    <a href="/desatascos/desatascos-fuenlabrada">Desatascos Fuenlabrada</a>
                  </h5>
                </div>
              </div>
              <div class="single-recent-post">
                <div class="post-data">
                  <h5><a href="/desatascos/desatascos-getafe">Desatascos Getafe</a></h5>
                </div>
              </div>
              <div class="single-recent-post">
                <div class="post-data">
                  <h5>
                    <a href="/desatascos/desatascos-majadahonda">Desatascos Majadahonda</a>
                  </h5>
                </div>
              </div>
              <div class="single-recent-post">
                <div class="post-data">
                  <h5>
                    <a href="/desatascos/desatascos-sansebastian"
                      >Desatascos San Sebastian de los Reyes</a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col-lg-3 - single-footer-wid -->
        <div class="col-md-6 col-xl-3 col-12">
          <div class="single-footer-wid newsletter_widget">
            <div class="wid-title">
              <h4 style="text-align: center;">Links</h4>
            </div>
            <div class="post-data" style="text-align: center;">
              <h6><a href="/privacidad">Política Privacidad</a></h6>
              <h6><a href="/aviso-legal">Aviso Legal</a></h6>
              <h6><a href="/cookies">Cookies</a></h6>
            </div>
          </div>
        </div>
        <!-- /.col-lg-3 - single-footer-wid -->
        <div class="col-md-6 col-xl-3 col-12">
          <div class="single-footer-wid ml-15 site_info_widget">
            <div class="wid-title">
              <h4>Contacta</h4>
            </div>
            <div class="contact-us">
              <div class="single-contact-info">
                <div class="icon">
                  <i class="fal fa-phone"></i>
                </div>
                <div class="contact-info">
                  <span>Teléfono</span>
                  <p><a href="tel://+34647376782" >647 37 67 82</a></p>
                </div>
              </div>
              <div class="single-contact-info">
                <div class="icon">
                  <i class="fal fa-envelope"></i>
                </div>
                <div class="contact-info">
                  <span>Email</span>
                  <p style="font-size: small;"><a href="mailto:info@pocitendesatascos.es">info@pocitendesatascos.es</a></p>
                </div>
              </div>
              <div class="single-contact-info">
                <div class="icon">
                  <i class="fal fa-map-marker-alt"></i>
                </div>
                <div class="contact-info">
                  <span>Dirección:</span>
                  <p>Calle Lezo 8, 4D<br> 28041,Madrid</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col-lg-3 - single-footer-wid -->
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-12 text-center text-lg-left">
          <div class="copyright-info">
            <p>©️ Copyright <a href="index.html">Pociten 💥</a>  2023</p>
          </div>
        </div>
        <div class="col-lg-4 col-12 text-center">
          <div class="footer-logo">
            <a href="index.html"
              ><img src="/assets/img/footer-logo-white.png" alt="Dustrix" /></a
            >
          </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block col-12">
          <div class="scroll-up-btn text-md-right text-center">
            <a href="#top"><i class="fal fa-long-arrow-up"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

