<section class="services-wrapper services-1 section-bg section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="section-title text-center">
          <span>Servicios</span>
          <p>Nuestros Servicios</p>
          <h1>Lo que hacemos</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-3 col-12">
        <div class="single-service-item service-1">
          <div
            class="service-bg bg-cover"
            style="background-image: url('/assets/img/home1/eng.jpg')"
          >
          </div>
          <div class="icon">
            <img src="/assets/img/icon/PLUMBER.svg" alt="Desatasco Tuberías" />
          </div>
          <h4 style="color:#003a70;hover:white">Desatascos 24 horas</h4>
          <a href="desatascos/24-horas"
            ><span>Saber más</span><i class="fal fa-long-arrow-right"></i></a
          >
        </div>
      </div>
      <div class="col-md-6 col-xl-3 col-12">
        <div class="single-service-item service-1">
          <div
            class="service-bg bg-cover"
            style="background-image: url('/assets/img/home1/power.jpg')"
          >
          </div>
          <div class="icon">
            <img src="/assets/img/icon/s2.png" alt="" />
          </div>
          <h4 style="color:#003a70;">Obras de Pocería</h4>
          <a href="poceros/obras-de-poceria"
            ><span>Saber Más</span><i class="fal fa-long-arrow-right"></i></a
          >
        </div>
      </div>
      <div class="col-md-6 col-xl-3 col-12">
        <div class="single-service-item service-1">
          <div
            class="service-bg bg-cover"
            style="background-image: url('/assets/img/home1/eng.jpg')"
          >
          </div>
          <div class="icon">
            <img src="/assets/img/icon/REPAIR.svg" alt="" />
          </div>
          <h4 style="color:#003a70;">Desatascos Fregaderos</h4>
          <a href="desatascos/fregadero"
            ><span>Saber Más</span><i class="fal fa-long-arrow-right"></i></a
          >
        </div>
      </div>
      <div class="col-md-6 col-xl-3 col-12">
        <div class="single-service-item service-1">
          <div
            class="service-bg bg-cover"
            style="background-image: url('/assets/img/home1/gas.jpg')"
          >
          </div>
          <div class="icon">
            <img src="/assets/img/icon/PIPELINE.svg" alt="" />
          </div>
          <h4 style="color:#003a70;">Fosas Sépticas</h4>
          <a href="poceros/fosas-septicas"
            ><span>Saber Más</span><i class="fal fa-long-arrow-right"></i></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
