<section class="portfolio-section section-padding pt-0">
    <div class="container">
      <div class="project-wrapper">
        <div class="portfolio-carousel-active owl-carousel">
          <div class="single-project">
            <div class="project-contents">
              <div class="row">
                <div
                  class="project-details col-lg-4 offset-lg-1 pl-lg-0 order-2 order-lg-1 col-12"
                >
                  <div class="project-meta">
                    <a href="#" class="project-cat">Industrial</a>
                    <div class="client-info d-inline">
                      <span><i class="fal fa-user"></i> Cliente:</span> Rosalina D.
                    </div>
                  </div>
                  <h2>Desatasco en Madrid</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliqui
                  </p>
                  <a href="#" class="read-btn theme-btn"
                    >Mis Servicios <i class="fal fa-long-arrow-right"></i></a
                  >
                </div>
                <div
                  class="project-thumbnail col-lg-5 offset-lg-1 p-lg-0 order-1 order-lg-2 col-12"
                >
                  <a
                    href="/assets/img/project/project1.jpg"
                    class="popup-gallery bg-cover"
                    style="background-image: url('/assets/img/project/project1.jpg')"
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <!-- single-project -->
          <div class="single-project">
            <div class="project-contents">
              <div class="row">
                <div
                  class="project-details col-lg-4 offset-lg-1 pl-lg-0 order-2 order-lg-1 col-12"
                >
                  <div class="project-meta">
                    <a href="#" class="project-cat">Industrial</a>
                    <div class="client-info d-inline">
                      <span><i class="fal fa-user"></i> Client:</span> Rosalina D.
                    </div>
                  </div>
                  <h2>Leverage agile motive frameworks</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliqui
                  </p>
                  <a href="#" class="read-btn theme-btn"
                    >Case Details <i class="fal fa-long-arrow-right"></i></a
                  >
                </div>
                <div
                  class="project-thumbnail col-lg-5 offset-lg-1 p-lg-0 order-1 order-lg-2 col-12"
                >
                  <a
                    href="/assets/img/project/project2.jpg"
                    class="popup-gallery bg-cover"
                    style="background-image: url('/assets/img/project/project2.jpg')"
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="project-carousel-nav"></div>
      </div>
    </div>
  </section>