<section class="pricing-wrapper section-padding section-bg">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="section-title text-center">
            <span>Planning</span>
            <p>Easy Planning</p>
            <h1>Price & Plans</h1>
          </div>
        </div>
      </div>

      <div class="row no-padding">
        <div class="col-xl-4 col-lg-6 col-12">
          <div
            class="single-pricing-table bg-cover"
            style="background-image: url('/assets/img/home1/gas.jpg')"
          >
            <div class="price">
              $<span>590</span>.00
            </div>
            <div class="package-name">
              <h3>Basic Plan</h3>
              <span>Monthly</span>
            </div>
            <ul>
              <li>Objectively integrate competencies</li>
              <li>Process-centric communities</li>
              <li>Emasculate holistic innovation</li>
              <li>Incubate intuitive opportunities</li>
            </ul>
            <div class="package-btn">
              <a href="contact.html" class="theme-btn black"
                >Get Your Order Done <i class="fal fa-long-arrow-right"></i></a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-12">
          <div
            class="single-pricing-table bg-cover active"
            style="background-image: url('/assets/img/home1/eng.jpg')"
          >
            <div class="price">
              $<span>999</span>.00
            </div>
            <div class="package-name">
              <h3>Advanced Plan</h3>
              <span>Monthly</span>
            </div>
            <ul>
              <li>Objectively integrate competencies</li>
              <li>Process-centric communities</li>
              <li>Emasculate holistic innovation</li>
              <li>Incubate intuitive opportunities</li>
              <li>24/7 Online Support</li>
            </ul>
            <div class="package-btn">
              <a href="contact.html" class="theme-btn black"
                >Get Your Order Done <i class="fal fa-long-arrow-right"></i></a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-12">
          <div
            class="single-pricing-table bg-cover"
            style="background-image: url('/assets/img/home1/power.jpg')"
          >
            <div class="price">
              $<span>590</span>.00
            </div>
            <div class="package-name">
              <h3>Basic Plan</h3>
              <span>Monthly</span>
            </div>
            <ul>
              <li>Objectively integrate competencies</li>
              <li>Process-centric communities</li>
              <li>Emasculate holistic innovation</li>
              <li>Incubate intuitive opportunities</li>
            </ul>
            <div class="package-btn">
              <a href="contact.html" class="theme-btn black"
                >Get Your Order Done <i class="fal fa-long-arrow-right"></i></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>