---

---
 <section class="page-banner-wrap bg-cover" style="background-image: url('assets/img/page-banner.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="breadcrumb-wrap">
                        <nav>
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                              <li class="breadcrumb-item active" aria-current="page">services</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="page-heading text-white">
                        <h2>What We Do</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-service-wrapper section-padding mtm-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-4 col-12">
                    <div class="single-service-card">
                        <div class="card-thumb bg-cover" style="background-image: url('assets/img/service1.jpg')"></div>
                        <div class="content">
                            <div class="case-cat">
                                <a href="services-details.html">
                                    <i class="fal fa-drafting-compass"></i>
                                </a>
                            </div>
                            <h3><a href="services-details.html">Metal Forming</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod.</p>
                            <a href="services-details.html" class="read-btn">Read More <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 col-12">
                    <div class="single-service-card">
                        <div class="card-thumb bg-cover" style="background-image: url('assets/img/service2.jpg')"></div>
                        <div class="content">
                            <div class="case-cat">
                                <a href="services-details.html">
                                    <i class="fal fa-building"></i>
                                </a>
                            </div>
                            <h3><a href="services-details.html">Manufacturing</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod.</p>
                            <a href="services-details.html" class="read-btn">Read More <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 col-12">
                    <div class="single-service-card">
                        <div class="card-thumb bg-cover" style="background-image: url('assets/img/service3.jpg')"></div>
                        <div class="content">
                            <div class="case-cat">
                                <a href="services-details.html">
                                    <i class="fas fa-truck-container"></i>
                                </a>
                            </div>
                            <h3><a href="services-details.html">Welding & Laser</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod.</p>
                            <a href="services-details.html" class="read-btn">Read More <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 col-12">
                    <div class="single-service-card">
                        <div class="card-thumb bg-cover" style="background-image: url('assets/img/service4.jpg')"></div>
                        <div class="content">
                            <div class="case-cat">
                                <a href="services-details.html">
                                    <i class="fal fa-building"></i>
                                </a>
                            </div>
                            <h3><a href="services-details.html">Construction Management</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod.</p>
                            <a href="services-details.html" class="read-btn">Read More <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 col-12">
                    <div class="single-service-card">
                        <div class="card-thumb bg-cover" style="background-image: url('assets/img/service5.jpg')"></div>
                        <div class="content">
                            <div class="case-cat">
                                <a href="services-details.html">
                                    <i class="fal fa-city"></i>
                                </a>
                            </div>
                            <h3><a href="services-details.html">Apartment Design</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod.</p>
                            <a href="services-details.html" class="read-btn">Read More <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 col-12">
                    <div class="single-service-card">
                        <div class="card-thumb bg-cover" style="background-image: url('assets/img/service6.jpg')"></div>
                        <div class="content">
                            <div class="case-cat">
                                <a href="services-details.html">
                                    <i class="fal fa-hard-hat"></i>
                                </a>
                            </div>
                            <h3><a href="services-details.html">Architecture & Building</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod.</p>
                            <a href="services-details.html" class="read-btn">Read More <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="process-wrapper section-padding section-bg">
        <div class="container">
            <div class="row align-center">
                <div class="col-xl-5 col-12">
                    <div class="photo-style-grid">
                        <div class="top-img bg-cover" style="background-image: url('assets/img/p_top_img.jpg')"></div>
                        <div class="main-img bg-cover" style="background-image: url('assets/img/p_main_img.jpg')"></div>
                        <div class="bottom-img bg-cover" style="background-image: url('assets/img/p_bottom_img.jpg')"></div>
                    </div>
                </div>
                <div class="col-xl-6 col-12 offset-xl-1">
                    <div class="section-title">
                        <span>process</span>
                        <p>process</p>
                        <h2>Our Company Work Process.</h2>
                    </div>
                    
                    <div class="process-setps mt-5 mt-xl-0">
                        <div class="single-process-item">
                            <div class="setp-number">
                                <h2>01</h2>
                            </div>
                            <div class="content">
                                <h3>Discussions About Project</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                        <div class="single-process-item">
                            <div class="setp-number">
                                <h2>02</h2>
                            </div>
                            <div class="content">
                                <h3>Start Work With Team</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                        <div class="single-process-item">
                            <div class="setp-number">
                                <h2>03</h2>
                            </div>
                            <div class="content">
                                <h3>Handover & Save World</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                        <div class="single-process-item">
                            <div class="setp-number">
                                <h2>04</h2>
                            </div>
                            <div class="content">
                                <h3>Great Wall Support</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                        
        </div>
    </section>    

    <section class="portfolio-wrapper-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12 text-center">
                    <div class="section-title-2">
                        <span>Portfolio</span>
                        <p>Portfolio</p>
                        <h2>Our Case Study</h2>
                    </div>
                </div>
            </div>

            <div class="row mb-20">
                <div class="col-12 col-lg-12 text-center">
                    <div class="portfolio-cat-filter">
                        <button data-filter="*" class="active">View All</button>
                        <button data-filter=".bedroom">Bedroom Making</button>
                        <button data-filter=".floor">Floor Making</button>
                        <button data-filter=".office">Office Making</button>
                        <button data-filter=".home">Home Making</button>
                    </div>
                </div>
            </div>

            <div class="row grid">
                <div class="col-xl-3 col-md-6 grid-item bedroom">
                    <div class="single-cause-item">
                        <div class="cause-bg bg-cover" style="background-image: url('assets/img/portfolio/project1.jpg');">
                            <a href="project-details.html" class="icon"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                        <div class="cause-content">
                            <div class="cause-meta d-flex">
                                <div class="author mr-15">
                                    Rosalina D.
                                </div>
                                |
                                <div class="project-amount ml-15">
                                    $56,000
                                </div>
                            </div>
                            <h4><a href="project-details.html">Rosali Office Design</a></h4>
                        </div>
                    </div> <!-- /.single-cause-item  -->                    
                </div>
                <div class="col-xl-3 col-md-6 grid-item floor home">
                    <div class="single-cause-item">
                        <div class="cause-bg bg-cover" style="background-image: url('assets/img/portfolio/project2.jpg');">
                            <a href="project-details.html" class="icon"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                        <div class="cause-content">
                            <div class="cause-meta d-flex">
                                <div class="author mr-15">
                                    Rosalina D.
                                </div>
                                |
                                <div class="project-amount ml-15">
                                    $56,000
                                </div>
                            </div>
                            <h4><a href="project-details.html">Mirlando Construction</a></h4>
                        </div>
                    </div> <!-- /.single-cause-item  -->                    
                </div>
                <div class="col-xl-3 col-md-6 grid-item bedroom home">
                    <div class="single-cause-item">
                        <div class="cause-bg bg-cover" style="background-image: url('assets/img/portfolio/project3.jpg');">
                            <a href="project-details.html" class="icon"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                        <div class="cause-content">
                            <div class="cause-meta d-flex">
                                <div class="author mr-15">
                                    Rosalina D.
                                </div>
                                |
                                <div class="project-amount ml-15">
                                    $77,000
                                </div>
                            </div>
                            <h4><a href="project-details.html">Helix X. Building Make</a></h4>
                        </div>
                    </div> <!-- /.single-cause-item  -->                    
                </div>
                <div class="col-xl-3 col-md-6 grid-item office">
                    <div class="single-cause-item">
                        <div class="cause-bg bg-cover" style="background-image: url('assets/img/portfolio/project4.jpg');">
                            <a href="project-details.html" class="icon"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                        <div class="cause-content">
                            <div class="cause-meta d-flex">
                                <div class="author mr-15">
                                    Rosalina D.
                                </div>
                                |
                                <div class="project-amount ml-15">
                                    $86,000
                                </div>
                            </div>
                            <h4><a href="project-details.html">Pink Office Decoration</a></h4>
                        </div>
                    </div> <!-- /.single-cause-item  -->                    
                </div>
            </div>
        </div>
    </section>