 <section class="skill-wrapper section-padding">
        <div class="container">
            <div class="skill-bg pt-100 pb-100 bg-center bg-cover bg-overlay text-white" style="background-image: url('assets/img/skill_bg.jpg')">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-12 text-center d-none d-xl-block">
                        <img src="assets/img/skill_img.jpg" class="mlm-100" alt="">
                    </div>
                    <div class="col-xl-6 offset-1 offset-xl-0 col-10 pr-lg-5">
                        <div class="block-contents">
                            <span>HABILIDADES</span>
                            <h2>Equipo Profesional</h2>
                            <h4>Nuestro equipo esta formado por operarios cualificados para cualquier tipo de trabajo tanto en construcción como en pocería</h4>
                        </div>

                        <div class="single-skill-bar">
                            <h4>Construcción</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">100%</div>
                            </div>
                        </div>
                        <div class="single-skill-bar">
                            <h4>Pocería</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">100%</div>
                            </div>
                        </div>
                        <div class="single-skill-bar">
                            <h4>Desatascos</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">100%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
