<section
    class="subscribe-box-wrapper text-white bg-overlay section-padding bg-cover"
    style="background-image: url('/assets/img/subscribe_bg.jpg')"
  >
    <div
      class="subscribe_left_bg d-none d-xl-block bg-cover"
      style="background-image: url('/assets/img/subscribe_left_bg.jpg')"
    >
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-12 offset-xl-5">
          <div class="cta-contents text-center text-xl-left">
            <div class="icon">
              <i class="fas fa-comments"></i>
            </div>
            <h1>Get Weekly Newsletter</h1>
            <p>Get your answer directly or get weekly updates.</p>

            <div class="subscribe-form">
              <form action="#">
                <input
                  type="email"
                  placeholder="Enter email address"
                  required
                />
                <button class="submit-btn" type="submit">Subscribe Now</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>