<div class="top-bar-header">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 col-md-6 text-center text-md-left">
                    <div class="top-welcome-text">
                        <p>Bienvenido a Pociten - Poceros en la Comunidad de Madrid</p>
                    </div>
                </div>
                <div class="col-lg-5 mt-3 mt-md-0 col-md-6 d-flex text-center justify-content-end align-items-center">
                    <div class="social-links">
                        <a href="https://www.facebook.com/desatascospociten"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://instagram.com/pociten_desatascos?igshid=MzRlODBiNWFlZA=="><i class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/@PocitenDesatascos#"><i class="fab fa-linkedin"></i></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
