---
import Preloader from "../components/preloader.astro";
import Topbarheader from "../components/topheader.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import { SEO } from "astro-seo";
import SpeedInsights from '@vercel/speed-insights/astro';
import { Analytics } from '@vercel/analytics/react';

const { titleSEO, descriptionMeta, canonical} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <!-- Metatags básicos -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Pocería Pociten" />
    

    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- Título de la página -->
    <SEO
      title={titleSEO}
      description={descriptionMeta}
      canonical={canonical ? canonical:"https://poceros-madrid.es/"}
      openGraph={{
        basic: {
          title: "A Very Descriptive Title",
          type: "A type.",
          image:
            "https://poceros-madrid.es/assets/img/approch1.jpg",
        },
      }}
      twitter={{
        creator: "@pociten",
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content:
              "https://poceros-madrid.es/assets/img/approch1.jpg",
          },
          { name: "twitter:title", content: "Pocería Pociten" },
          { name: "twitter:description", content: "Empresa de pocería, desatascos de tuberías y alcantarillado en Madrid." },
        ],
      }}
    />

    <!-- Preloading critical CSS files -->
    <link rel="preload" href="/assets/css/bootstrap.min.css" as="style" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="preload" href="/assets/css/style.css" as="style" />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <!-- Otros archivos CSS -->
    <link rel="stylesheet" href="/assets/css/icons.css" />
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/assets/css/metismenu.css" />
    <link rel="stylesheet" href="/assets/css/owl.theme.css" />
    
  </head>
 
  <body class="body-wrapper">
    <Analytics  client:idle/>
    <Preloader id="preloader" />
    <Topbarheader />
    <Header />
    <slot />
    <SpeedInsights />
    <Footer />

    <!-- Deferred JavaScript -->
    <script src="/assets/js/jquery.min.js" defer></script>
    <script src="/assets/js/modernizr.min.js" defer></script>
    <script src="/assets/js/jquery.easing.js" defer></script>
    <script src="/assets/js/popper.min.js" defer></script>
    <script src="/assets/js/bootstrap.min.js" defer></script>
    <script src="/assets/js/isotope.pkgd.min.js" defer></script>
    <script src="/assets/js/imageload.min.js" defer></script>
    <script src="/assets/js/scrollUp.min.js" defer></script>
    <script src="/assets/js/owl.carousel.min.js" defer></script>
    <script src="/assets/js/magnific-popup.min.js" defer></script>
    <script src="/assets/js/counterup.min.js" defer></script>
    <script src="/assets/js/wow.min.js" defer></script>
    <script src="/assets/js/metismenu.js" defer></script>
    <script src="/assets/js/timeline.min.js" defer></script>
    <script src="/assets/js/ajax-mail.js" defer></script>
    <script src="/assets/js/active.js" defer></script>

    <script>
      window.onload = function () {
        document.getElementById("preloader").style.display = "none";
      };
    </script>
  </body>
</html>
